# Google Map Configuration
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=

# Token In CUNEX App
NEXT_PUBLIC_CUNEX_TOKEN=

# Application environment (development, staging, production)
APP_ENV=
 
# Base API Path
BASE_API_DEVELOPMENT=
BASE_API_STAGING=  
BASE_API_PRODUCTION=