# Application environment (development, staging, production)
NEXT_PUBLIC_APP_ENV=
 
# Base API Path
NEXT_PUBLIC_BASE_API_DEVELOPMENT=
NEXT_PUBLIC_BASE_API_STAGING=
NEXT_PUBLIC_BASE_API_PRODUCTION=

# Backoffice path
NEXT_PUBLIC_BACKOFFICE_PATH=

NEXT_PUBLIC_APP_URL=
