# Google Map Configuration
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=

# Application environment (development, staging, production)
APP_ENV=
 
# Base API Path
BASE_API_DEVELOPMENT=
BASE_API_STAGING=  
BASE_API_PRODUCTION=